apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-deployment
  namespace: memoire-ecommerce
  labels:
    app: user
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user
  template:
    metadata:
      labels:
        app: user
    spec:
      containers:
        - name: user-container
          image: marwen77/user-service:latest
          ports:
            - containerPort: 3000
      imagePullSecrets:
        - name: dockerhub-secret